{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>
  Submit Critical Form
</h1>
  <form action="/crit/form/" method="post">
    {% csrf_token %}
    <div class="attacks">
      {% for field in form %}
      <div style="width: 44%; margin-left: 3%; margin-right: 3%; margin-bottom: 1%;">
        {{ field.errors }}
        {{ field.label_tag }}
        <br/>
        {{ field }}
      </div>
      {% endfor %}
    </div>
    <br/>
    <input type="submit" value="Submit" style="padding: 5px 10px;">
  </form>

{% endblock %}
