{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>DM Toolkit API Usage Guide</h1>
<hr>
<p>
	This api is designed to extract information that would otherwise be lost in the midst of creating a town or monster from my DMToolkit. Here are some example links you can go to. All api calls can be ended with <code>json</code> for a JSON object of the data to be extracted rather than plain text HTML.
</p>

<ul>
	<li>
		<a href="{% url 'api:npc' %}"><b>Generic NPC information</b></a>
		<br>
		<p>
			Generate an NPC with a history and no character levels in HTML format
		</p>
	</li>
	<li>
		<a href="{% url 'api:npc_json' %}"><b>Generic NPC information (JSON)</b></a>
		<br>
		<p>
			Generate an NPC with a history and no character levels in JSON format
		</p>
	</li>
	<li>
		<a href="{% url 'api:pc' %}"><b>Generic PC information</b></a>
		<br>
		<p>
			Generate an PC with a history and random character levels in HTML format
		</p>
	</li>
	<li>
		<a href="{% url 'api:pc_json' %}"><b>Generic PC information (JSON)</b></a>
		<br>
		<p>
			Generate an PC with a history and random character levels in JSON format
		</p>
	</li>
	<li>
		<a href="{% url 'api:beast' %}"><b>Generic Beast information</b></a>
		<br>
		<p>
			Generate a beast from any SRD in HTML format
		</p>
	</li>
	<li>
		<a href="{% url 'api:beast_json' %}"><b>Generic  Beast information (JSON)</b></a>
		<br>
		<p>
			Generate a beast from any SRD in JSON format
		</p>
	</li>
	<li>
		<a href="{% url 'api:beast_5e' %}"><b>D&D 5e Beast information</b></a>
		<br>
		<p>
			Generate a beast from the offical Dungeons & Dragons 5th edition SRD in HTML format
		</p>
	</li>
	<li>
		<a href="{% url 'api:beast_5e_json' %}"><b>D&D 5e Beast information (JSON)</b></a>
		<br>
		<p>
			Generate a beast from the offical Dungeons & Dragons 5th edition SRD in JSON format
		</p>
	</li>
	<li>
		<a href="{% url 'api:beast_pf1' %}"><b>Pathfinder 1e Beast information</b></a>
		<br>
		<p>
			Generate a beast from the offical Pathfinder 1st edition SRD in HTML format
		</p>
	</li>
	<li>
		<a href="{% url 'api:beast_pf1_json' %}"><b>Pathfinder 1e Beast information (JSON)</b></a>
		<br>
		<p>
			Generate a beast from the offical Pathfinder 1st edition SRD in JSON format
		</p>
	</li>
	<li>
		<a href="{% url 'api:treasure_pf1' %}"><b>Pathfinder 1e Loot Generator</b></a>
		<br>
		<p>
			Generate a treasure from the offical Pathfinder 1st edition SRD in HTML format
		</p>
	</li>
	<li>
		<a href="{% url 'api:treasure_pf1_json' %}"><b>Pathfinder 1e Loot Generator (JSON)</b></a>
		<br>
		<p>
			Generate a treasure from the offical Pathfinder 1st edition SRD in JSON format
		</p>
	</li>
	<li>
		<div class="text-md bold" style="padding-bottom: 15px;">Store Generators</div>
		<ul>
			<li>
				<a href="{% url 'api:store_weapon' %}"><b>Weapon Shop</b></a>
				<br>
				<p>
					Generate a Weapon Store in HTML format
				</p>
			</li>
			<li>
				<a href="{% url 'api:store_weapon_json' %}"><b>Weapon Shop (JSON)</b></a>
				<br>
				<p>
					Generate a Weapon Store in JSON format
				</p>
			</li>
			<li>
				<a href="{% url 'api:store_firearm' %}"><b>Firearm Shop</b></a>
				<br>
				<p>
					Generate a Firearm Store in HTML format
				</p>
			</li>
			<li>
				<a href="{% url 'api:store_firearm_json' %}"><b>Firearm Shop (JSON)</b></a>
				<br>
				<p>
					Generate a Firearm Store in JSON format
				</p>
			</li>
			<li>
				<a href="{% url 'api:store_armor' %}"><b>Armor Shop</b></a>
				<br>
				<p>
					Generate an Armor Store in HTML format
				</p>
			</li>
			<li>
				<a href="{% url 'api:store_armor_json' %}"><b>Armor Shop (JSON)</b></a>
				<br>
				<p>
					Generate an Armor Store in JSON format
				</p>
			</li>
		</ul>
	</li>
</ul>

{% endblock %}