{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>
  Cast List
</h1>
<p>
  Every campaign I have been apart of always has one commonality. The Cast List.
  Since this is a world of fantasy, I ask my players to cast their characters as if it were a movie.
  Obviously, sometimes we have to take some creative liberties with characters of the non-humanoid variety, but it's all meant in good fun.
  This idea came from Troy Lavalee, from the Glass Cannon Podcast.
  Below is the cast list for all the characters in each of the major campaign's I have run.
</p>
<ul>
  <li>
    <a href="#Tyrant">Tyrant's Grasp Campaign</a>
  </li>
  <li>
    <a href="#Calamity">Era of Calamity Campaign</a>
  </li>
  <li>
    <a href="#Magic">A Magical Investiture Campaign</a>
  </li>
  <li>
    <a href="#Dragon">Dragon Campaign</a>
  </li>
  <li>
    <a href="#BXD">BXD Campaign</a>
  </li>
  <li>
    <a href="#Cyneric">Cyneric Campaign</a>
  </li>
  <li>
    <a href="#Thunia">Thunia Campaign</a>
  </li>
  <li>
    <a href="#Nethys">Nethys' Revenge Campaign</a>
  </li>
</ul>
<hr>
<h2>
  <a name="Tyrant">
    Tyrant's Grasp Campaign
  </a>
</h2>
<div class="cast_container">
  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="/static/img/Tyrant/Laura.jpg" alt="Laura">
    <p>
      <b>Laura</b> as <b>???</b>
    </p>
  </div>
  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="/static/img/Tyrant/Cloud Dancer.png" alt="Cloud Dancer">
    <p>
      <b>Cloud Dancer</b> as <b>???</b>
    </p>
  </div>
  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Tyrant/Katee Sackhoff.jpg" alt="Katee Sackhoff">
    <img class="cast_photo_img" src="/static/img/Tyrant/Zoranna.jpg" alt="Zoranna">
    <p>
      <b>Katee Sackhoff</b> as <b>Zorana</b>
    </p>
  </div>
  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="/static/img/Tyrant/Scarlett.jpg" alt="Scarlett">
    <p>
      <b>Scarlett</b> as <b>???</b>
    </p>
  </div>
</div>
<hr>
<h2>
  <a name="Calamity">
    Era of Calamity Campaign
  </a>
</h2>
<div class="cast_container">
  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Rachel Weisz.jpg" alt="Rachel Weisz">
    <img class="cast_photo_img" src="/static/img/Calamity/Amelia Airheart.jpg" alt="Amelia Airheart">
    <p>
      <b>Rachel Weisz</b> as <b>Amelia 'Airheart' Runeheart</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Dave Bautista.jpg" alt="Dave Bautista">
    <img class="cast_photo_img" src="/static/img/Calamity/Sticky Willy.jpg" alt="Sticky Willy">
    <p>
      <b>Dave Bautista</b> as <b>Sticky Willy</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Willem Dafoe.jpg" alt="Willem Defoe">
    <img class="cast_photo_img" src="/static/img/Calamity/Malewesh.jpg" alt="Malewesh">
    <p>
      <b>Willem Defoe</b> as <b>Malewesh</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Christopher Lee.jpg" alt="Christopher Lee">
    <img class="cast_photo_img" src="/static/img/Calamity/Phineas Thromby.png" alt="Dr. Phineas T. Thromby">
    <p>
      <b>Christopher Lee</b> as <b>Dr. Phineas T. Thromby</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Brianna Hildebrand.jpeg" alt="Brianna Hildebrand">
    <img class="cast_photo_img" src="/static/img/Calamity/Todd.png" alt="Todd aka Blackheart of the Dark Inferno">
    <p>
      <b>Brianna Hildebrand</b> as <b>Todd aka Blackheart of the Dark Inferno</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Leonard Nimoy.png" alt="Leonard Nemoy">
    <img class="cast_photo_img" src="/static/img/Calamity/Jasper Longpaw.png" alt="Jasper Longpaw">
    <p>
      <b>Leonard Nemoy</b> as <b>Jasper Longpaw</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Scorch">
    <p>
      <b>????</b> as <b>Scorch</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Melissa Paulo.jpeg" alt="Melissa Paulo">
    <img class="cast_photo_img" src="/static/img/Calamity/Skipper.png" alt="Skipper">
    <p>
      <b>Melissa Paulo</b> as <b>Skipper</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Lance Reddick.jpg" alt="Lance Reddick">
    <img class="cast_photo_img" src="/static/img/Calamity/Zavala Reddick.jpg" alt="Admiral Zavala 'Stone' Reddick">
    <p>
      <b>Lance Reddick</b> as <b>Admiral Zavala 'Stone' Reddick</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Chocobo.jpg" alt="Chocobo">
    <img class="cast_photo_img" src="/static/img/Calamity/Drumstick.png" alt="Drumstick">
    <p>
      <b>A Chocobo</b> as <b>Drumstick (Murder Bird)</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Anthony Hopkins.png" alt="Anthony Hopkins">
    <img class="cast_photo_img" src="/static/img/Calamity/Cedric Storm.jpeg" alt="Cedric Storm">
    <p>
      <b>Anthony Hopkins</b> as <b>Cedric Storm</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Johnny Depp.jpg" alt="Johnny Depp">
    <img class="cast_photo_img" src="/static/img/Calamity/Crallen Fallblossom.jpg" alt="Cedric Storm">
    <p>
      <b>Johnny Depp</b> as <b>Crallen Fallblossom</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Jon Bellion.png" alt="Jon Bellion">
    <img class="cast_photo_img" src="/static/img/Calamity/Huma of the Stone Scale Tribe.jpg" alt="Huma of the Stone Scale Tribe" onmouseover="hover(this, 'Calamity/Huma Reborn.jpeg');" onmouseout="hover(this, 'Calamity/Huma of the Stone Scale Tribe.jpg');">
    <p>
      <b>Jon Bellion</b> as <b>Huma of the Stone Scale Tribe</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Naveen Andrews.jpg" alt="Naveen Andrews">
    <img class="cast_photo_img" src="/static/img/Calamity/Phogra.png" alt="Phogra the Wall">
    <p>
      <b>Naveen Andrews</b> as <b>Phogra the Wall</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Gloria Foster.png" alt="Gloria Foster">
    <img class="cast_photo_img" src="/static/img/Calamity/Seraphina Orb-Weaver.png" alt="Seraphina Orb-Weaver">
    <p>
      <b>Gloria Foster</b> as <b>Seraphina Orb-Weaver</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Calamity/Dolf Lundgren.jpeg" alt="Dolf Lungren">
    <img class="cast_photo_img" src="/static/img/Calamity/Tuff Boulderson.jpeg" alt="Tuff Boulderson">
    <p>
      <b>Dolf Lungren</b> as <b>Tuff Boulderson</b>
    </p>
  </div>
</div>
<hr>
<!---------------------------------------------->
<h2>
  <a name="Magic">
    A Magical Investiture Campaign
  </a>
</h2>
<div class="cast_container">
  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Gimli">
    <p>
      <b>???</b> as <b>Gimli</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Duradel">
    <p>
      <b>???</b> as <b>Duradel</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Vesstan">
    <p>
      <b>???</b> as <b>Vesstan</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Freya">
    <p>
      <b>???</b> as <b>Freya</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Arthur White">
    <p>
      <b>???</b> as <b>Arthur White</b>
    </p>
  </div>
</div>
<hr>
<!---------------------------------------------->
<h2>
  <a name="Dragon">
    Dragon Campaign
  </a>
</h2>
<div class="cast_container">
  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Dragon/Aiysha Hart.jpg" alt="Aiysha Hart">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Elveri">
    <p>
      <b>Aiysha Hart</b> as <b>Elveri</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Dragon/Val Kilmer.jpg" alt="Val Kilmer">
    <img class="cast_photo_img" src="/static/img/Dragon/Kozgor.jpg" alt="Kozgor">
    <p>
      <b>Val Kilmer</b> as <b>Kozgor</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Dragon/Michael Douglass.jpg" alt="Michael Douglass">
    <img class="cast_photo_img" src="/static/img/Dragon/Kiirion.jpeg" alt="Kiirion">
    <p>
      <b>Michael Douglass</b> as <b>Kiirion</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Dragon/Emily Browning.jpg" alt="Emily Browning">
    <img class="cast_photo_img" src="/static/img/Dragon/Puddles.jpeg" alt="Puddles">
    <p>
      <b>Emily Browning</b> as <b>Puddles</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Whisker">
    <p>
      <b>???</b> as <b>Whisker</b>
    </p>
  </div>
</div>
<hr>
<!---------------------------------------------->
<h2>
  <a name="BXD">
    BXD Campaign
  </a>
</h2>
<div class="cast_container">
  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Cedric Storm">
    <p>
      <b>???</b> as <b>Cedric Storm</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Grey Nightspire (Prince of the Shade)">
    <p>
      <b>???</b> as <b>Grey Nightspire (Prince of the Shade)</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Kithar">
    <p>
      <b>???</b> as <b>Kithar</b>
    </p>
  </div>
</div>
<hr>
<!---------------------------------------------->
<h2>
  <a name="Cyneric">
    Cyneric Campaign
  </a>
</h2>
<div class="cast_container">
  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Drogka Alloyknuckle">
    <p>
      <b>???</b> as <b>Drogka Alloyknuckle</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Cyneric/Lilith.jpg" alt="Lilith">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="The Pheonix">
    <p>
      <b>Lilith</b> as <b>Lilith "The Pheonix"</b>
    </p>
  </div>
</div>
<hr>
<!---------------------------------------------->
<h2>
  <a name="Thunia">
    Thunia Campaign
  </a>
</h2>
<div class="cast_container">
  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Thunia/Mila Kunis.png" alt="Mila Kunis">
    <img class="cast_photo_img" src="/static/img/Thunia/Eve Cadiim.jpg" alt="Eve Cadiim">
    <p>
      <b>Mila Kunis</b> as <b>Eve Cadiim</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Thunia/Christian Bale.jpg" alt="Christian Bale">
    <img class="cast_photo_img" src="/static/img/Thunia/Keddli Lazuli.jpg" alt="Keddli Lazuli">
    <p>
      <b>Christian Bale</b> as <b>Keddli Lazuli</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Thunia/John Candy.jpg" alt="John Candy">
    <img class="cast_photo_img" src="/static/img/Thunia/Nomkin Palleil.jpg" alt="Nomkin Palleil">
    <p>
      <b>John Candy</b> as <b>Nomkin Palleil</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="/static/img/Thunia/Delphin Strongtooth.jpg" alt="Delphin Strongtooth">
    <p>
      <b>???</b> as <b>Delphin Strongtooth</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Emily Wynthrope Wolfe">
    <p>
      <b>???</b> as <b>Emily Wynthrope Wolfe</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Torian">
    <p>
      <b>???</b> as <b>Torian</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Skelly">
    <p>
      <b>???</b> as <b>Skelly</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Maelstorm">
    <p>
      <b>???</b> as <b>Maelstorm</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Sheldon, the Tortle">
    <p>
      <b>???</b> as <b>Sheldon</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Katsyl Gemglow">
    <p>
      <b>???</b> as <b>Katsyl Gemglow</b>
    </p>
  </div>

  <div class="cast_photo">
    <img src="/static/img/Thunia/Our Party.png" alt="Cast Photo" style="width: 100%;">
    <p>
      Full Cast Photo
    </p>
  </div>
</div>
<hr>
<!---------------------------------------------->
<h2>
  <a name="Nethys">
    Nethys' Revenge Campaign
  </a>
</h2>
<div class="cast_container">
  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Nethys/Orlando Bloom.jpg" alt="Orlando Bloom">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Regulous">
    <p>
      <b>Orlando Bloom</b> as <b>Regulous</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Nethys/Keira Knightly.jpg" alt="Keira Knightly">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Saile">
    <p>
      <b>Keira Knightly</b> as <b>Saile</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="/static/img/Nethys/Alan Ritchson.jpg" alt="Alan Ritchson">
    <img class="cast_photo_img" src="/static/img/Nethys/Davor.jpg" alt="Davor">
    <p>
      <b>Alan Ritchson</b> as <b>Davor</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Yakari">
    <p>
      <b>???</b> as <b>Yakari</b>
    </p>
  </div>

  <div class="cast_photo">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="???">
    <img class="cast_photo_img" src="https://placehold.co/450x450" alt="Skelly">
    <p>
      <b>???</b> as <b>Skelly</b>
    </p>
  </div>
</div>
<!---------------------------------------------->


{% endblock %}
