{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="utf-8">
  <title>Editor</title>
  <style type="text/css">
    /* Dragula CSS */
    .gu-mirror {
      position: fixed!important;
      margin: 0!important;
      z-index: 9999!important;
      opacity: .8
    }

    .gu-hide {
      display: none!important
    }

    .gu-unselectable {
      -webkit-user-select: none!important;
      -moz-user-select: none!important;
      -ms-user-select: none!important;
      user-select: none!important
    }

    .gu-transit {
      opacity: .2
    }
  </style>
</head>
<body>
  {% csrf_token %}
  <input type="text" id="header" name="header" placeholder="Town Name" style="margin: auto; display: block; font-size:32px;margin-bottom: 10px;">
  <textarea class="overflow_textarea" type="textarea" id="description" name="description" placeholder="Town description" style="width: 100%;margin-bottom: 60px;"></textarea>
  <div id="editor" class="editor" onbeforeunload="save_json_from_page()">
  </div>
  <div class="sidebar">
    <img id="sidebar_open" height="30px" style="float: right;display: block;" src="{% static 'svg/open_editor.svg' %}" onclick="show_hide('sidebar_container');show_hide('sidebar_open');show_hide('sidebar_closed');">
    <img id="sidebar_closed" height="30px" style="float: right;display: none;" src="{% static 'svg/closed_editor.svg' %}" onclick="show_hide('sidebar_container');show_hide('sidebar_open');show_hide('sidebar_closed');">
    <div id="sidebar_container" style="display: block;">
      <div class="grey sidebar_object" onclick="create_element('Store');">
        Add New Store Table
      </div>
      <div class="grey sidebar_object" onclick="create_element('Table');">
        Add New Item Table
      </div>
      <div class="grey sidebar_object" onclick="create_element('Monster5');">
        Add D&D 5e Monster
      </div>
      <div class="grey sidebar_object" onclick="create_element('Monster1');">
        &ensp;Pathfinder 1e Monster
      </div>
      <div class="grey sidebar_object" onclick="create_element('Monster2');">
        &ensp;Pathfinder 2e Monster
      </div>
      <div class="grey sidebar_object" onclick="create_element('Hazard2');">
        Add New Hazard
      </div>
      <div class="grey sidebar_object" onclick="create_element('List');">
        Add New List
      </div>
      <div class="grey sidebar_object" onclick="create_element('Divider');">
        Add Divider
      </div>
      <div class="green sidebar_object" onclick="export_page();">
        Export to HTML
      </div>
      <div class="yellow sidebar_object" onclick="export_json(false);">
        Export to JSON
      </div>
      <div class="blue sidebar_object" onclick="import_page();">
        Import from JSON
      </div>
      <div class="green sidebar_object" onclick="update_page_state('Save');">
        Save Page
      </div>
      <div class="orange sidebar_object" onclick="update_page_state('Load');">
        Load Page From Storage
      </div>
      <div class="red sidebar_object" onclick="update_page_state('Delete');">
        Delete Page
      </div>
    </div>
  </div>
  <div class="footer">
    Thank you so much for using this site. If you encounter any problems with the site, please 
    <a href="mailto:mastersofdungeonspodcast@gmail.com">
      email us
    </a>
    .
  </div>

  <script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dragula.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/FileSaver.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/api.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/add_elements.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/update_page.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}