{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="utf-8">
  <title>Editor Admin</title>
  <script>
    function send_request(action_number) {
      var xhr = new XMLHttpRequest();
      var connection = window.location.href + action_number;
      const token = document.querySelector('[name=csrfmiddlewaretoken]').value;
      xhr.open("POST", connection);

      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.setRequestHeader("X-CSRFToken", token);

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          // Completed request
          var new_data = JSON.parse(xhr.responseText);
          if ('ERROR' in new_data) {
            // Post Toast Message about failure
            console.log("ERROR: " + new_data['ERROR']);
            if ("EXCEPTION" in new_data) {
              console.log("EXCEPTION: " + new_data['EXCEPTION']);
            }
            (async () => {
              var toast = document.createElement('div');
              toast.style.backgroundColor = "#E34D4D";
              toast.style.position = "fixed";
              toast.style.top = "40px";
              toast.style.left = "40px";
              toast.style.width = "250px";
              toast.id = "toast";
              toast.style.padding = "10px 20px";

              toast.appendChild(document.createTextNode(new_data['ERROR']));

              var header_img = document.getElementById("header_img");
              header_img.appendChild(toast);

              setTimeout(function(){
                toast.parentNode.removeChild(toast);
              }, 9000);
            })()
          } else {
            // Request has happened, inform user
            (async () => {
              var toast = document.createElement('div');
              toast.style.backgroundColor = "#00cc00";
              toast.style.position = "fixed";
              toast.style.top = "40px";
              toast.style.left = "40px";
              toast.style.width = "250px";
              toast.id = "toast";
              toast.style.padding = "10px 20px";

              toast.appendChild(document.createTextNode("Admin Action completed successfully"));

              var header_img = document.getElementById("header_img");
              header_img.appendChild(toast);

              setTimeout(function(){
                toast.parentNode.removeChild(toast);
              }, 9000);
            })()
          }
        }
      };

      data = {
        "action": action_number,
      };

      xhr.send(JSON.stringify(data));
    }
  </script>
  <style type="text/css">
    .admin_button {
       margin: 10px;
       padding: 20px;
    }
  </style>
</head>
<body>
  {% csrf_token %}
  <h1 style="color: #FF6666">EDITOR ADMIN PAGE</h1>
  <p>
    This is a page exclusively for Admins to this site. Here are the following actions that have been authorized for your user
  </p>
  <div onclick="send_request('1')" class="red admin_button">
	  Update 5e.tools local JSON repo.
  </div>
  <hr>
  <div class="footer">
    Thank you so much for using this site. If you encounter any problems with the site, please 
    <a href="mailto:mastersofdungeonspodcast@gmail.com">
      email us
    </a>
    .
  </div>
{% endblock %}