{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="utf-8">
  <title>Editor</title>
</head>
<body>
  <input type="text" id="header" name="header" placeholder="Town Name" style="margin: auto; display: block; font-size:32px;margin-bottom: 10px;">
  <textarea class="overflow_textarea" type="textarea" id="description" name="description" placeholder="Town description" style="width: 100%;margin-bottom: 60px;"></textarea>
  <div class="editor">
    <div id="Stores" style="padding-bottom: 60px;">

    </div>
    <div id="Tables" style="padding-bottom: 60px;">

    </div>
    <div id="Monsters" style="padding-bottom: 60px;">
      
    </div>
    <div id="Hazards" style="padding-bottom: 60px;">
      
    </div>
    <div id="Lists" style="padding-bottom: 60px;">
      
    </div>
  </div>
  <div class="sidebar" onclick="show_hide('sidebar_container');show_hide('sidebar_open');show_hide('sidebar_closed');">
    <img id="sidebar_open" height="30px" style="float: right;display: block;" src="{% static 'open_editor.svg' %}">
    <img id="sidebar_closed" height="30px" style="float: right;display: none;" src="{% static 'closed_editor.svg' %}">
    <div id="sidebar_container" style="display: block;">
      <div class="grey sidebar_object" onclick="create_element('Store');">
        Add New Store Table
      </div>
      <div class="grey sidebar_object" onclick="create_element('Table');">
        Add New Item Table
      </div>
      <div class="grey sidebar_object" onclick="create_element('Monster5');">
        Add D&D 5e Monster
      </div>
      <div class="grey sidebar_object" onclick="create_element('Monster1');">
        &ensp;Pathfinder 1e Monster
      </div>
      <div class="grey sidebar_object" onclick="create_element('Monster2');">
        &ensp;Pathfinder 2e Monster
      </div>
      <div class="grey sidebar_object" onclick="create_element('Hazard2');">
        Add New Hazard
      </div>
      <div class="grey sidebar_object" onclick="create_element('List');">
        Add New List
      </div>
      <div class="green sidebar_object" onclick="export_page();">
        Export to HTML
      </div>
      <div class="yellow sidebar_object" onclick="export_json(false);">
        Export to JSON
      </div>
      <div class="blue sidebar_object" onclick="import_page();">
        Import from JSON
      </div>
    </div>
  </div>
  <div class="footer">
    Thank you so much for using this site. If you encounter any problems with the site, please 
    <a href="mailto:mastersofdungeonspodcast@gmail.com">
      email us
    </a>
    .
  </div>

  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/FileSaver.js' %}"></script>
{% endblock %}