{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
  <h1>
    Initiative Tracker
  </h1>
  <table id="init_box" class="wrapper-box"></table>


  {% if is_admin %}
  <div id="admin_area" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div id="init_entry" style="width: 45%;">
      <div style="text-align: center; font-weight: bold; font-size: larger; margin-bottom: 20px;">Add Initiative Entry</div>
      <div id="error_message" style="color: red; text-decoration: underline;"></div>
      <table style="margin-bottom: 20px; width: 100%;">
        <tr>
          <th>
            <label for="name">Name</label>
          </th>
          <td>
            <input id="name" type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr>
          <th>
            <label for="init">Initiative</label>
          </th>
          <td>
            <input id="init" type="number" name="init" min="0" placeholder="Initiative">
          </td>
        </tr>
        <tr>
          <th>
            <label for="ac">AC</label>
          </th>
          <td>
            <input id="ac" type="number" name="ac" min="0" placeholder="AC">
          </td>
        </tr>
        <tr>
          <th>
            <label for="hp">HP</label>
          </th>
          <td>
            <input id="hp" type="number" name="hp" min="0" placeholder="HP">
          </td>
        </tr>
      </table>
      <input id="add_entry" type="button" value="Send">
    </div>
    <div id="bulk_add" style="width: 45%;">
      <div style="text-align: center; font-weight: bold; font-size: larger; margin-bottom: 20px;">Bulk Initiative Entry</div>
      <div id="bulk_error_message" style="color: red; text-decoration: underline;"></div>
      <table style="margin-bottom: 20px; width: 100%;">
        <tr>
          <th>
            <label for="bulk_name">Base Name</label>
          </th>
          <td>
            <input id="bulk_name" type="text" name="bulk_name" placeholder="Base Name">
          </td>
        </tr>
        <tr>
          <th>
            <label for="bulk_quantity">Quantity</label>
          </th>
          <td>
            <input id="bulk_quantity" type="number" name="bulk_quantity" min="0" placeholder="Quantity">
          </td>
        </tr>
        <tr>
          <th>
            <label for="bulk_init">Initiative Modifier</label>
          </th>
          <td>
            <input id="bulk_init" type="number" name="bulk_init" min="0" placeholder="Initiative Modifier">
          </td>
        </tr>
        <tr>
          <th>
            <label for="bulk_ac">AC</label>
          </th>
          <td>
            <input id="bulk_ac" type="number" name="bulk_ac" min="0" placeholder="AC">
          </td>
        </tr>
        <tr>
          <th>
            <label for="bulk_hd">Hit Dice</label>
          </th>
          <td>
            <input id="bulk_hd" type="text" name="bulk_hd" min="0" placeholder="Hit Dice">
          </td>
        </tr>
      </table>
      <input id="bulk_entry" type="button" value="Send">
    </div>
    <div id="clear_all" style="width: 45%;">
      <div style="text-align: center; font-weight: bold; font-size: larger; margin-bottom: 20px;">Clear Initiative Tracker</div>
      <p style="color: red;">
        <b>WARNING:</b> This action is irreversible.
      </p>
      <div style="display: flex; justify-content: center; border: 1px solid black; padding: 15px;">
        <input id="clear_all_button" type="button" value="Clear Initiative Tracker" onclick="if (confirm('Are you sure you want to clear the Initiative tracker?')) { request('POST', 'clear', {'Name': 'All'}); }">
      </div>
    </div>
    <div id="tyrant_presets" style="width: 45%;">
      <div style="text-align: center; font-weight: bold; font-size: larger; margin-bottom: 20px;">Tyrant's Grasp Preset</div>
      <p style="color: red;">
        <b>WARNING:</b> This action is irreversible.
      </p>
      <table style="margin-bottom: 20px; width: 100%;">
        <tr>
         <th>
           <span style="font-weight: bold; font-size: larger;">Tyrant's Grasp Campaign Characters</span>
         </th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Zoranna</li>
              <li>Laura</li>
              <li>Cloud Dancer</li>
              <li>Scarlett</li>
              <li>Posara</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td style="display: flex; justify-content: center;">
            <input id="tyrant_clear_all" type="button" value="Apply Tyrant Preset" onclick="if (confirm('Are you sure you want to use the Tyrant\'s Grasp Preset?')) {tyrant_preset()}">
          </td>
        </tr>
      </table>
    </div>
    <div id="dream_presets" style="width: 45%;">
      <div style="text-align: center; font-weight: bold; font-size: larger; margin-bottom: 20px;">Descent of the Dream Haze Preset</div>
      <p style="color: red;">
        <b>WARNING:</b> This action is irreversible.
      </p>
      <table style="margin-bottom: 20px; width: 100%;">
        <tr>
         <th>
           <span style="font-weight: bold; font-size: larger;">Descent of the Dream Haze Campaign Characters</span>
         </th> 
        </tr>
        <tr>
          <td>
            <ul>
              <li>Sarah</li>
              <li>Josh</li>
              <li>Terra</li>
              <li>Atticus</li>
              <li>Riley</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td style="display: flex; justify-content: center;">
            <input id="dream_clear_all" type="button" value="Apply Dream Preset" onclick="if (confirm('Are you sure you want to use the Dream Preset?')) {dream_preset()}">
          </td>
        </tr>
      </table>
    </div>
  </div>
  {% endif %}

  <script type="text/javascript">
    // Pseudo-Socket since PythonAnywhere doesn't allow sockets
    let initiative_data = [];
    let previous_data = [];

    async function request(request_type, func, data) {
      var xhr = new XMLHttpRequest();
      var connection = window.location.href + 'request/';
      const token = document.querySelector('[name=csrfmiddlewaretoken]').value;
      xhr.open(request_type, connection);

      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.setRequestHeader("X-CSRFToken", token);

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          // Completed request
          initiative_data = JSON.parse(xhr.responseText);
        }
      };

      data = {
        "function": func,
        "data": data
      };

      xhr.send(JSON.stringify(data));
    }

    async function update_page() {
      // Refresh Data on the page
      await request("GET", "read", {})

      // If an update is needed, do it here
      var init_table = document.querySelector('#init_box');
      if (JSON.stringify(previous_data) !== JSON.stringify(initiative_data) || init_table.innerHTML == '') {
        previous_data = initiative_data;
        init_table.innerHTML = '';

        // Add Header
        var header_row = init_table.insertRow(0);
        var initiative_cell = header_row.insertCell(0);
        initiative_cell.style.backgroundColor = 'gray';
        initiative_cell.style.color = 'white';
        initiative_cell.style.padding = '5 px';
        initiative_cell.innerHTML = 'Initiative';
        // Make this an input with a submit button

        var name_cell = header_row.insertCell(1);
        name_cell.style.backgroundColor = 'gray';
        name_cell.style.color = 'white';
        name_cell.style.padding = '5 px';
        name_cell.innerHTML = 'Name';

{% if is_admin %}
        var ac_cell = header_row.insertCell(2);
        ac_cell.style.backgroundColor = 'gray';
        ac_cell.style.color = 'white';
        ac_cell.style.padding = '5 px';
        ac_cell.innerHTML = 'AC';
        var hp_cell = header_row.insertCell(3);
        hp_cell.style.backgroundColor = 'gray';
        hp_cell.style.color = 'white';
        hp_cell.style.padding = '5 px';
        hp_cell.innerHTML = 'HP';
{% endif %}        
{% if is_admin %}
        var action_cell = header_row.insertCell(4);
{% else %}
        var action_cell = header_row.insertCell(2);
{% endif %}
        action_cell.style.backgroundColor = 'gray';
        action_cell.style.color = 'white';
        action_cell.style.padding = '5 px';
        action_cell.innerHTML = 'Conditions';
{% if is_admin %}
        var action_cell = header_row.insertCell(5);
        action_cell.style.backgroundColor = 'gray';
        action_cell.style.color = 'white';
        action_cell.style.padding = '5 px';
        action_cell.innerHTML = 'Actions';
{% endif %}
        
        // Insert all entries
        initiative_data.forEach(function(data_point) {
          var temp_row = init_table.insertRow(-1);
          var temp_init = temp_row.insertCell(0);
          var temp_init_input = document.createElement('input')
          temp_init_input.setAttribute("type", "number");
          temp_init_input.value = data_point['Init'];
          temp_init_input.id = data_point['Init'] + '_Init';
          temp_init_input.style.width = '80px';

{% if is_admin %}
          temp_init_input.onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
              outgoing = {"Name": data_point['Name'], "Init": parseInt(temp_init_input.value)}
              request("POST", 'update', outgoing);
            }
          };
          temp_init_input.onblur = function(e) {
            outgoing = {"Name": data_point['Name'], "Init": parseInt(temp_init_input.value)}
            request("POST", 'update', outgoing);
          };
{% else %}
          temp_init_input.readOnly = true;
{% endif %}
          temp_init.appendChild(temp_init_input);

          var temp_name = temp_row.insertCell(1);
          temp_name.innerHTML = data_point['Name'];

{% if is_admin %}
          var temp_ac = temp_row.insertCell(2);
          var temp_ac_input = document.createElement('input')
          temp_ac_input.setAttribute("type", "number");
          temp_ac_input.value = data_point['AC'];
          temp_ac_input.id = data_point['Name'] + '_AC';
          temp_ac_input.style.width = '80px';

          temp_ac_input.onblur = function(e) {
            outgoing = {"Name": data_point['Name'], "AC": parseInt(temp_ac_input.value)}
            request("POST", 'update', outgoing);
          };
          temp_ac_input.onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
              outgoing = {"Name": data_point['Name'], "AC": parseInt(temp_ac_input.value)}
              request("POST", 'update', outgoing);
            }
          };
          temp_ac.appendChild(temp_ac_input);

          var temp_hp = temp_row.insertCell(3);
          var temp_hp_input = document.createElement('input')
          temp_hp_input.setAttribute("type", "number");
          temp_hp_input.value = data_point['HP'];
          temp_hp_input.id = data_point['Name'] + '_HP';
          temp_hp_input.style.width = '80px';

          temp_hp_input.onblur = function(e) {
            outgoing = {"Name": data_point['Name'], "HP": parseInt(temp_hp_input.value)}
            request("POST", 'update', outgoing);
          };
          temp_hp_input.onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
              outgoing = {"Name": data_point['Name'], "HP": parseInt(temp_hp_input.value)}
              request("POST", 'update', outgoing);
            }
          };
          temp_hp.appendChild(temp_hp_input);

          // Incriment HP
          var add_hp_button = document.createElement("input");
          add_hp_button.setAttribute("type", "button");
          add_hp_button.value = "+";
          add_hp_button.style.marginLeft = '15px'
          add_hp_button.onclick = function(e) {
            var new_hp = parseInt(temp_hp_input.value) + parseInt(incriment_hp_input.value)
            outgoing = {"Name": data_point['Name'], "HP": new_hp}
            request("POST", 'update', outgoing);
            incriment_hp_input.value = '';
          }
          temp_hp.appendChild(add_hp_button);

          // HP entry
          var incriment_hp_input = document.createElement('input')
          incriment_hp_input.setAttribute("type", "number");
          incriment_hp_input.style.width = '80px';
          incriment_hp_input.value = '0';
          temp_hp.appendChild(incriment_hp_input);

          // Decriment HP
          var sub_hp_button = document.createElement("input");
          sub_hp_button.setAttribute("type", "button");
          sub_hp_button.value = "-";
          sub_hp_button.onclick = function(e) {
            var new_hp = parseInt(temp_hp_input.value) - parseInt(incriment_hp_input.value)
            outgoing = {"Name": data_point['Name'], "HP": new_hp}
            request("POST", 'update', outgoing);
            incriment_hp_input.value = '';
          }
          temp_hp.appendChild(sub_hp_button);

{% endif %}

{% if is_admin %}
          // Setup Conditions
          var temp_condition = temp_row.insertCell(4);
          var condition_textarea = document.createElement("textarea");
          condition_textarea.value = data_point['Conditions'];
          condition_textarea.onblur = function(e) {
            outgoing = {"Name": data_point['Name'], "Conditions": condition_textarea.value}
            request("POST", 'update', outgoing);
          };
          condition_textarea.onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
              outgoing = {"Name": data_point['Name'], "Conditions": condition_textarea.value}
              request("POST", 'update', outgoing);
            }
          };
          temp_condition.appendChild(condition_textarea);

{% else %}
          // Setup view only Conditions
          var temp_condition = temp_row.insertCell(2);
          temp_condition.innerHTML = data_point['Conditions'];
{% endif %}

{% if is_admin %}
          // Setup Actions to delete
          var temp_actions = temp_row.insertCell(5);
          var delete_button = document.createElement("input");
          delete_button.setAttribute("type", "button");
          delete_button.value = "Delete Entry";
          delete_button.onclick = function() {
            var name = data_point['Name'];
            if (confirm("Are you sure you want to remove " + name + " from the Initiative tracker?")) {
              outgoing = {"Name": data_point['Name']}
              request("POST", 'remove', outgoing);
            }
          }
          temp_actions.appendChild(delete_button);
{% endif %}
        });
      }

      // We want this to run every few seconds
      setTimeout(update_page, 1000);
    };


{% if is_admin %}
    // Page Update Code
    function validate_form() {
      var error_code = document.querySelector('#error_message');
      error_code.innerHTML = '';
      if (document.querySelector('#name').value === '') {
        error_code.innerHTML += "Name cannot be Empty<br>";
        return false;
      }
      if (document.querySelector('#init').value === '') {
        error_code.innerHTML += "Initiative cannot be Empty<br>";
        return false;
      }
      if (document.querySelector('#ac').value === '') {
        error_code.innerHTML += "AC cannot be Empty<br>";
        return false;
      }
      if (document.querySelector('#hp').value === '') {
        error_code.innerHTML += "HP cannot be Empty<br>";
        return false;
      }
      return true;
    }

    function clear_form() {
        document.querySelector('#name').value = '';
        document.querySelector('#ac').value = '';
        document.querySelector('#hp').value = '';
        document.querySelector('#init').value = '';
    }

    // Submit button for new entry
    document.querySelector('#add_entry').onclick = function(e) {
      if (validate_form()) {
        outgoing = {
          'Name': document.querySelector('#name').value,
          'Init': parseInt(document.querySelector('#init').value),
          'AC': parseInt(document.querySelector('#ac').value),
          'HP': parseInt(document.querySelector('#hp').value)
        }
        request("POST", 'add', outgoing);
        clear_form();
      }
    };

    // Hitting Enter on form submits it
    document.querySelector('#name').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#add_entry').click();
      }
    };
    document.querySelector('#init').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#add_entry').click();
      }
    };
    document.querySelector('#ac').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#add_entry').click();
      }
    };
    document.querySelector('#hp').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#add_entry').click();
      }
    };

    // Copy for Bulk update
    function validate_bulk_form() {
      var error_code = document.querySelector('#bulk_error_message');
      error_code.innerHTML = '';
      if (document.querySelector('#bulk_name').value === '') {
        error_code.innerHTML += "Name cannot be Empty<br>";
        return false;
      }
      if (document.querySelector('#bulk_quantity').value === '') {
        error_code.innerHTML += "Quantity cannot be Empty<br>";
        return false;
      }
      if (document.querySelector('#bulk_init').value === '') {
        error_code.innerHTML += "Initiative cannot be Empty<br>";
        return false;
      }
      if (document.querySelector('#bulk_ac').value === '') {
        error_code.innerHTML += "AC cannot be Empty<br>";
        return false;
      }
      if (document.querySelector('#bulk_hd').value === '') {
        error_code.innerHTML += "Hit Dice cannot be Empty<br>";
        return false;
      }
      return true;
    }

    function clear_bulk_form() {
        document.querySelector('#bulk_name').value = '';
        document.querySelector('#bulk_quantity').value = '';
        document.querySelector('#bulk_ac').value = '';
        document.querySelector('#bulk_hd').value = '';
        document.querySelector('#bulk_init').value = '';
    }

    // Submit button for new entry
    document.querySelector('#bulk_entry').onclick = function(e) {
      if (validate_bulk_form()) {
        outgoing = {
          'Name': document.querySelector('#bulk_name').value,
          'Quantity': parseInt(document.querySelector('#bulk_quantity').value),
          'Init': parseInt(document.querySelector('#bulk_init').value),
          'AC': parseInt(document.querySelector('#bulk_ac').value),
          'HD': document.querySelector('#bulk_hd').value
        }
        request("POST", 'bulk', outgoing);
        clear_bulk_form();
      }
    };

    // Hitting Enter on form submits it
    document.querySelector('#bulk_name').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#bulk_entry').click();
      }
    };
    document.querySelector('#bulk_quantity').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#bulk_entry').click();
      }
    };
    document.querySelector('#bulk_init').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#bulk_entry').click();
      }
    };
    document.querySelector('#bulk_ac').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#bulk_entry').click();
      }
    };
    document.querySelector('#bulk_hd').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#bulk_entry').click();
      }
    };


    function tyrant_preset() {
      var players = [
        {
          'Name': 'Scarlett',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
        {
          'Name': 'Laura',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
        {
          'Name': 'Cloud Dancer',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
        {
          'Name': 'Zoranna',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
        {
          'Name': 'Posara',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
      ]

      request('POST', 'clear', {'Name': 'All'});

      setTimeout(function() { console.log("Form Cleared. Submitting preset."); }, 1000);

      for (var i = 0; i < players.length; i++) {
        request("POST", 'add', players[i]);
      }
    }


    function dream_preset() {
      var players = [
        {
          'Name': 'Sarah',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
        {
          'Name': 'Josh',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
        {
          'Name': 'Terra',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
        {
          'Name': 'Atticus',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
        {
          'Name': 'Riley',
          'Init': 0,
          'AC': 0,
          'HP': 0
        },
      ]

      request('POST', 'clear', {'Name': 'All'});

      setTimeout(function() { console.log("Form Cleared. Submitting preset."); }, 1000);

      for (var i = 0; i < players.length; i++) {
        request("POST", 'add', players[i]);
      }
    }

{% endif %}

    // Start updating the page
    update_page();
  </script>
{% endblock %}
