{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% for article in article_list %}
    <table class="wrapper-box" style="margin-bottom:60px;">
      <tr>
        <td>
          <h1>{{ article.title }}</h1>
        </td>
      </tr>
      <tr>
        <td>
          {{ article.article|safe }}
        </td>
      </tr>
      <tr>
        <td>
          <div class="center" style="margin-bottom:10px;">
            <button style="background-color: darkblue; color: white; padding: 10px;" onclick="navigator.clipboard.writeText(document.URL);make_toast('Copied to Clipboard');">
              Share this Article! 
            </button>
          </div>
        </td>
      </tr>
    </table>
  {% endfor %}
  <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 60px;">
    <div>
      <a href="{% url 'news:article_latest' %}" style="background-color: darkblue; color: white; padding: 10px;">
        See latest articles here
      </a>
    </div>
    <div>
      <a href="{% url 'news:calender' %}" style="background-color: darkblue; color: white; padding: 10px;">
        Back to news
      </a>
    </div>
    {% if is_admin %}
      <div>
        <a href="{% url 'news:create_article' %}" style="background-color: darkblue; color: white; padding: 10px;">
          Add news article
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}
