{% extends 'base.html' %}
{% load static %}
{% block content %}
  <table class="wrapper-box" style="margin-bottom:60px;">
    {% if is_admin %}
    <tr>
      <td>
        <h1>
          Submit News Story Form
        </h1>
          <form action="/news/add/" method="post">
            {% csrf_token %}
            <div class="attacks">
              {% for field in form %}
              <div style="width: 44%; margin-left: 3%; margin-right: 3%; margin-bottom: 1%;">
                {{ field.errors }}
                {{ field.label_tag }}
                <br/>
                {{ field }}
              </div>
              {% endfor %}
            </div>
            <br/>
            <input type="submit" value="Submit" style="padding: 5px 10px;">
          </form>
      </td>
    </tr>
    {% else %}
    <tr>
      <td>
        <h1>Unauthorized</h1>
        <p>
          Ensure that you're logged in as an admin before trying to access this page
        </p>
      </td>
    </tr>
    {% endif %}
  <div class="center" style="margin-bottom:30px;">
    <input type="button" onclick="location.href='{% url 'news:calender' %}';" value="Back to news" />
  </div>
{% endblock %}
