{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
{{ holiday_css|safe }}
{{ now_css|safe }}
</style>
  <h1>
    Year {{ current_year }}, in the Era of {{ era_name }}
  </h1>
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <input type="button" value="Year {{ previous_year }}" onclick="location.href='{% url 'news:calender_era' era previous_year %}';" />
    <input type="button" style="background-color: lavender;" value="Magic Now" onclick="location.href='{% url 'news:calender_era' magic_era magic_year %}';" />
    <input type="button" style="background-color: dodgerblue;" value="Cipher Now" onclick="location.href='{% url 'news:calender_era' cipher_era cipher_year %}';" />
    <input type="button" style="background-color: lightgreen;" value="Calamity Now" onclick="location.href='{% url 'news:calender_era' calamity_era calamity_year %}';" />
    <input type="button" value="Year {{ next_year }}" onclick="location.href='{% url 'news:calender_era' era next_year %}';" />
  </div>
  <div class="calender">
    {% for month in year %}
    <table class="calender_table">
      <tr>
        <td colspan="7">
          <div class="center text-lg bold">
            {{ month.name }}
          </div>
        </td>
      </tr>
      <tr>
        {% for abbrev in 'MTWHFSU'|make_list %}
          <th> {{ abbrev }} </th>
        {% endfor %}
      </tr>
      {% for week in month.days %}
        <tr>
          {% for day in week %}
            {% if day|is_int %}
              {% if month.name == magic.Month and day == magic.Day and current_year == magic.Year and era == magic_era %}
                <td id="{{ month.name }}{{ day }}" style="background-color: lavender;">
                  {{ day }}
                </td>
              {% elif month.name == cipher.Month and day == cipher.Day and current_year == cipher.Year and era == cipher_era %}
                <td id="{{ month.name }}{{ day }}" style="background-color: dodgerblue;">
                  {{ day }}
                </td>
              {% elif month.name == dragon.Month and day == dragon.Day and current_year == dragon.Year and era == dragon_era %}
                <td id="{{ month.name }}{{ day }}" style="background-color: aquamarine;">
                  {{ day }}
                </td>
              {% elif month.name == calamity.Month and day == calamity.Day and current_year == calamity.Year and era == calamity_era %}
                <td id="{{ month.name }}{{ day }}" style="background-color: lightgreen;">
                  {{ day }}
                </td>
              {% else %}
                <td id="{{ month.name }}{{ day }}">
                  {{ day }}
                </td>
              {% endif %}
            {% else %}
              {% if month.name == magic.Month and day.number == magic.Day and current_year == magic.Year and era == magic_era %}
                <td id="{{ month.name }}{{ day.number }}" style="background-color: lavender;">
                  <a class="calender_link" href="{% url 'news:article_day' era current_year month.number day.number %}">
                    {{ day.number }}
                  </a>
                </td>
              {% elif month.name == cipher.Month and day.number == cipher.Day and current_year == cipher.Year and era == cipher_era %}
                <td id="{{ month.name }}{{ day.number }}" style="background-color: dodgerblue;">
                  <a class="calender_link" href="{% url 'news:article_day' era current_year month.number day.number %}">
                    {{ day.number }}
                  </a>
                </td>
              {% elif month.name == dragon.Month and day == dragon.Day and current_year == dragon.Year and era == dragon_era %}
                <td id="{{ month.name }}{{ day.number }}" style="background-color: aquamarine;">
                  <a class="calender_link" href="{% url 'news:article_day' era current_year month.number day.number %}">
                    {{ day.number }}
                  </a>
                </td>
              {% elif month.name == calamity.Month and day == calamity.Day and current_year == calamity.Year and era == calamity_era %}
                <td id="{{ month.name }}{{ day.number }}" style="background-color: lightgreen;">
                  <a class="calender_link" href="{% url 'news:article_day' era current_year month.number day.number %}">
                    {{ day.number }}
                  </a>
                </td>
              {% else %}
                <td id="{{ month.name }}{{ day.number }}">
                  <a class="calender_link" href="{% url 'news:article_day' era current_year month.number day.number %}">
                    {{ day.number }}
                  </a>
                </td>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </div>

  <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 60px;">
    <div>
      <a href="{% url 'news:article_latest' %}" style="background-color: darkblue; color: white; padding: 10px;">
        See latest articles here
      </a>
    </div>
    {% if is_admin %}
      <div>
        <a href="{% url 'news:create_article' %}" style="background-color: darkblue; color: white; padding: 10px;">
          Add news article
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}
