{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>
    Year {{ current_year }}, in the Era of {{ era_name }}
  </h1>
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <input type="button" value="Year {{ previous_year }}" onclick="location.href='{% url 'news:calender_era' era previous_year %}';" />
    <input type="button" value="Now" onclick="location.href='{% url 'news:calender' %}';" />
    <input type="button" value="Year {{ next_year }}" onclick="location.href='{% url 'news:calender_era' era next_year %}';" />
  </div>
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between; border: 2px solid black; padding: 20px 5px; margin: 60px 0px;">
    {% for month in year %}
    <div class="calender">
      <div class="calender_name">
        {{ month.name }}
      </div>
      {% for abbrev in 'MTWHFSU'|make_list %}
        <div class="calender_head"> {{ abbrev }} </div>
      {% endfor %}

      {% for week in month.days %}
        {% for day in week %}
          {% if day|is_int %}
            {% if month.name == today.Month and day == today.Day and current_year == today.Year %}
              <div class="calender_day" style="background-color: dodgerblue;">
                {{ day }}
              </div>
            {% else %}
              <div class="calender_day">
                {{ day }}
              </div>
            {% endif %}
          {% else %}
            {% if month.name == today.Month and day.number == today.Day and current_year == today.Year %}
              <div class="calender_day" style="background-color: dodgerblue;">
                <input type="button" onclick="location.href='{% url 'news:article' day.link %}';" value="{{ day.number }}" />
              </div>
            {% else %}
              <div class="calender_day">
                <input type="button" onclick="location.href='{% url 'news:article' day.link %}';" value="{{ day.number }}" />
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  {% if is_admin %}
    <!-- Add News Article -->
    <input type="button" onclick="location.href='{% url 'news:create_article' %}';" value="Add a News Article" />
  {% endif %}
{% endblock %}
