{% extends 'base.html' %}
{% block content %}
  <table class="wrapper-box" style="margin-bottom:60px;">
    <tr>
      <td colspan="2">
        <h1>{{ person_name }}</h1>
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-md"><b>Title:</b> {{ person_title }}</div>
      </td>
      <td>
        <img src="https://via.placeholder.com/150">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>Description</h2>
        {{ description|linebreaksbr }}
      </td>
    </tr>
  </table>
  <div class="center" style="margin-bottom:30px;">
    <input type="button" onclick="location.href='{% url 'map:person_search' %}';" value="Back to Search" />
  </div>
{% endblock %}
