{% extends 'base.html' %}
{% load static %}
{% block content %}
  <table class="wrapper-box" style="margin-bottom:60px;">
    <tr>
      <td colspan="2">
        <h1>{{ person_name }}</h1>
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-md"><b>Title:</b> {{ person_title }}</div>
        {% if town_link != '' %}
        <div class="text-md"><b>Leader of:</b> <a href="{% url 'map:town' town_link %}">{{ town_link }}</a></div>
        {% endif %}
      </td>
      <td>
        {% if img_src == '' %}
        <img src="https://via.placeholder.com/150">
        {% else %}
        <img src="{% static img_src %}" alt="https://via.placeholder.com/150">
        {% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>Description</h2>
        {{ description|linebreaksbr }}
      </td>
    </tr>
    {% if is_admin %}
    <tr>
      <td colspan="2">
        <h2>DM Notes</h2>
        {{ admin_description|linebreaksbr }}
      </td>
    </tr>
    {% endif %}
  </table>
  <div class="center" style="margin-bottom:30px;">
    <input type="button" onclick="location.href='{% url 'map:person_search' %}';" value="Back to Search" />
  </div>
{% endblock %}
