{% extends 'base.html' %}

{% block content %}
  <h1>
    Known Magic Circle Phrases
  </h1>
  <p>
    Currently the way of teleporting between towns is setup via a series of Magic Circles in a select few towns. These phrases are closely guarded, but a few have slipped out. Most people use the train to commute, but the wealthy and the powerful use these. Here are the commonly known destinations
  </p>
  <h3>
    Using a Magic Circle
  </h3>
  <p>
    Step onto the circle, One person on the circle will state the phrase out loud, and all subjects on the circle will be instantly teleported to the Magic Circle destination you've chosen. Unless otherwise noted, the phrases are to be spoken in Common.
  </p>
  <hr>
  <table>
    <tr>
      <th>Destination</th>
      <th>Magic Circle Phrase</th>
    </tr>
    <tr>
      <td>Avalon</td>
      <td>For what the Sky calls home</td>
    </tr>
    <tr>
      <td>Bayward</td>
      <td>The call of the Sea</td>
    </tr>
    <tr>
      <td>Brittleshore</td>
      <td>Lockley Lives (In Elvish)</td>
    </tr>
    <tr>
      <td>Everspell</td>
      <td>Knowledge above all</td>
    </tr>
    <tr>
      <td>Greydel</td>
      <td>Home Sweet Home</td>
    </tr>
    <tr>
      <td>Mapletide</td>
      <td>Take me to the sea of maple and pine</td>
    </tr>
    <tr>
      <td>Northcall</td>
      <td>Oh Captain, my captain</td>
    </tr>
    <tr>
      <td>Oceanshell</td>
      <td>Peace</td>
    </tr>
    <tr>
      <td>Silkpoint</td>
      <td>Wynthrope's reign is over</td>
    </tr>
    <tr>
      <td>Silvermaw</td>
      <td>I heed the mountian's call</td>
    </tr>
    <tr>
      <td>Swanhill</td>
      <td>Kings of Mountians, owners of Ore</td>
    </tr>
    <tr>
      <td>Tarshish</td>
      <td>For what the Sea calls home</td>
    </tr>
    <tr>
      <td>Crossroads</td>
      <td>Take me to HQ</td>
    </tr>
  </table>
{% endblock %}
