{% extends 'base.html' %}
{% block content %}
  <table class="wrapper-box" style="margin-bottom:60px;">
    <tr>
      <td colspan="2">
        <h1>{{ town_name }}</h1>
      </td>
    </tr>
    <tr>
      <td width="60%">
        {% if leader_link != '' %}
        <div class="text-md"><b>Leader:</b> <a href="{% url 'map:person' leader_link %}">{{ leader }}</a></div>
        <div class="text-md emp">&emsp;{{ leader_desc }}</div>
        {% else %}
        <div class="text-md"><b>Leader:</b> {{ leader }}</div>
        {% endif %}
        <div class="text-md"><b>Population:</b> {{ population }}</div>
      </td>
      <td>
        <img src="https://via.placeholder.com/150">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>Description</h2>
        {{ description|linebreaksbr }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>Government</h2>
        <h3>{{ governing_body }}</h3>
        {{ government|linebreaksbr }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>Economy</h2>
        {{ economy|linebreaksbr }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>Town Generation</h2>
        <div class="center" style="margin-bottom:30px;">
          <input type="button" onclick="location.href='{% url 'generator:town' town_name %}';" value="Generate Sample Town" />
        </div>
      </td>
    </tr>
  </table>
  <div class="center" style="margin-bottom:30px;">
    <input type="button" onclick="location.href='..';" value="Return to Map" />
  </div>

{% endblock %}
